.white-text {
  color: #ffffff;
}

.bg-footer {
  background-color: #00695c;
}

footer a,
footer a:visited{
    color: #ffffff;
}

footer a:hover{
    text-decoration: underline;
    color: #000;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

#checkboxes-type,
#checkboxes-generation{
  display: none;
  color: #212529;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
}

#checkboxes-type label,
#checkboxes-generation label {
  display: block;
}

input[type=checkbox] {
  cursor: pointer;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.card-img-left {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-body p {
  margin: 0;
}
.badge {
  margin: 0 2px;
}

.card-body a {
  cursor: pointer;
  text-decoration: none;
}
