.white-text {
  color: #ffffff;
}

.bg-footer {
  background-color: #00695c;
}

footer a,
footer a:visited{
    color: #ffffff;
}

footer a:hover{
    text-decoration: underline;
    color: #000;
}

/* footer{
    position: fixed;
    bottom: 0;
} */
